h1 {
    margin-left: 5%;
}

h2 {
    margin-left: 5%;
    font-size: 1.3em;
}

#center {
    width: 90%;
    height: 500px;
    padding: 0% 5%;
}

.bar img {
    height: 125px;
    padding: 0px;
    width: 24.71%;
}

.bar {
    width: 90%;
    padding: 0% 5%;
}

.active {
    border: 3px solid black;
}

.centerpiece {
    margin: 0%;
    padding: 0%;
}

.centerpiece button {
    background-color: white;;
    height: 4em;
    width: 4.5%;
    border: none;
    position: absolute;
}

.centerpiece button:first-of-type {
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: 0%;
    top: 50%;

}

.centerpiece button:nth-of-type(2) {
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    right: 0%;
    top: 50%;
}

.bar button {
    background-color: white;;
    height: 4em;
    width: 5%;
    border: none;
    position: absolute;
}

.bar button:first-of-type {
    background-image: url(../img/dblleft.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    left: 0%;
    top: 82%;

}

.bar button:nth-of-type(2) {
    background-image: url(../img/dblright.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    right: 0%;
    top: 82%;
}
